  <!-- About-->
  <section class="resume-section" id="about">
    <div class="resume-section-content">
      <h1 class="mb-0">
        Alexandre
        <span class="text-primary">Araujo</span>
        da
        <span class="text-primary">Silva</span>
      </h1>
      <div class="subheading mb-5">


        <a
          [href]="'https://www.google.com/maps/search/?api=1&query=' + endereco"
          target="_blank"
        >
          {{ endereco }}
        </a>
        <a [href]="'tel:' + telefone"> {{ telefone }} </a>
        <a [href]="'mailto:' + email"> {{ email }} </a>

        <hr />

        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7357.072279789209!2d-43.38894489151001!3d-22.782589526002173!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9965007dbd25f3%3A0x370db2ac9b4ed754!2sAlexDeveloperOne!5e0!3m2!1spt-BR!2sbr!4v1713056678711!5m2!1spt-BR!2sbr" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

      </div>
      <p class="lead mb-5">
        Eu tenho experiência em agir mediante crises e trabalho atualmente resolvendo vários problemas, e foco em entregar
        resultado. Autodidata, detalhista e dedicado para atender às demandas de melhor meneira. Focado em resultados e
        apaixonado pelo método ágil. Convivo com tecnologia desde o ano 2000, mas recentemente decidi migrar para a área de código.
      </p>

      <div class="social-icons">
        <a
          class="social-icon"
          href="https://www.linkedin.com/in/alexandre-araujo-da-silva-0970191aa"
          target="_blank"
          ><i class="fab fa-linkedin-in"></i
        ></a>
        <a
          class="social-icon"
          href="https://github.com/AlexDeveloperOne"
          target="_blank"
          ><i class="fab fa-github"></i
        ></a>

        <a
          class="social-icon"
          href="https://www.instagram.com/alexdeveloperone/"
          target="_blank"
        ><i class="fab fa-instagram"></i
          ></a>

        <a class="social-icon" href="https://twitter.com/AlexDevelopOne" target="_blank">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-twitter-x" viewBox="0 0 16 16">
          <path d="M12.6.75h2.454l-5.36 6.142L16 15.25h-4.937l-3.867-5.07-4.425 5.07H.316l5.733-6.57L0 .75h5.063l3.495 4.633L12.601.75Zm-.86 13.028h1.36L4.323 2.145H2.865z"/>
        </svg>
        </a>

        <!--
        <a class="social-icon" href="#!"
          ><i class="fab fa-facebook-f"></i
        ></a>-->
      </div>
    </div>
  </section>
