<!-- fab
    fixed-bottom
    fixed-bottom
    position-relative
    <div class="fixed-bottom sticky-top ">
-->

<div class="whatsapp-link">
  <a
    class="social-icon icon-fab"
    href="https://api.whatsapp.com/send?phone=5521996087518"
    target="_blank"
    ><i style="color: #fff" class="fab fa-whatsapp"></i>
  </a>
</div>

<!-- Navigation-->
<app-navbar></app-navbar>

<!-- Page Content-->
<div class="container-fluid p-0">
  <!-- About-->
  <app-about></app-about>

  <hr class="m-0" />

  <!-- Experience-->
  <app-experience></app-experience>

  <hr class="m-0" />

  <!-- Education-->
  <app-education></app-education>

  <hr class="m-0" />

  <!-- Skills-->
  <app-skills></app-skills>

  <hr class="m-0" />

  <!-- Interests-->
  <app-interests></app-interests>

  <hr class="m-0" />

  <!-- Projetos Awards-->
  <app-projects></app-projects>
</div>
