<!-- Education-->
<section class="resume-section" id="education">
  <div class="resume-section-content">
    <h2 data-aos="fade-right" class="mb-5">Educação</h2>
    <div
      class="d-flex flex-column flex-md-row justify-content-between mb-5"
    >
      <div class="flex-grow-1">
        <h3 data-aos="fade-left" class="mb-0">
          Universidade Estácio de Sá
        </h3>
        <div data-aos="fade-left" class="subheading mb-3">
          Análide e Desenvolvimento de Sistemas
        </div>
        <!-- <div>Computer Science - Web Development Track</div> -->
        <!-- <p>GPA: 3.23</p> -->
      </div>
      <div class="flex-shrink-0">
        <span class="text-primary">Trancado</span>
      </div>
    </div>
    <div class="d-flex flex-column flex-md-row justify-content-between">
      <div class="flex-grow-1">
        <h3 data-aos="fade-left" class="mb-0">
          Colégio Estadual Agostinho Porto
        </h3>
        <div data-aos="fade-left" class="subheading mb-3">
          Ensino Médio
        </div>
        <!-- <p>GPA: 3.56</p> -->
      </div>
      <div class="flex-shrink-0">
        <span class="text-primary">Dezembro 2000</span>
      </div>
    </div>
  </div>
</section>
