   <!-- Skills-->
   <section class="resume-section" id="skills">
    <div class="resume-section-content">
      <h2 data-aos="fade-right" class="mb-5">Skills</h2>
      <div class="subheading mb-3">
        Linguagem de Programação & Ferramentas
      </div>
      <ul data-aos="zoom-in" class="list-inline dev-icons">
        <li class="list-inline-item"><img src="../../../assets/svg/file-type-html.svg" alt="HTML5 Icon"></li>
        <li class="list-inline-item"><img src="../../../assets/svg/file-type-css.svg" alt="CSS3 Icon"></li>
        <li class="list-inline-item"><img src="../../../assets/svg/file-type-js-official.svg" alt="JavaScript Icon"></li>
        <li class="list-inline-item"><img src="../../../assets/svg/file-type-typescript-official.svg" alt="TypeScript Icon"></li>
        <li class="list-inline-item"><img src="../../../assets/svg/file-type-angular.svg" alt="Angular Icon"></li>
        <li class="list-inline-item"><img src="../../../assets/svg/file-type-angular17.svg" alt="Angular17 Icon"></li>
        <li class="list-inline-item"><img src="../../../assets/svg/file-type-node.svg" alt="Node.js Icon"></li>
        <li class="list-inline-item"><img src="../../../assets/svg/devicon--nodejs-wordmark.svg" alt="Node.js Icon"></li>
        <li class="list-inline-item"><img src="../../../assets/svg/npm.svg" alt="NPM Icon"></li>
        <li class="list-inline-item"><img src="../../../assets/svg/file-type-firebase.svg" alt="Firebase Icon"></li>
        <li class="list-inline-item"><img src="../../../assets/svg/devicon--github.svg" alt="GitHub Icon"></li>
        <li class="list-inline-item"><img src="../../../assets/svg/file-type-sass.svg" alt="Sass Icon"></li>
        <li class="list-inline-item"><img src="../../../assets/svg/less-plain-wordmark.svg" alt="Less Icon"></li>
      </ul>


      <div data-aos="fade-left" class="subheading mb-3">
        Fluxo de Trabalho
      </div>
      <ul class="fa-ul mb-0">
        <li>
          <span class="fa-li"><i class="fas fa-check"></i></span>
          Mobile-First, Design Responsive
        </li>
        <li class="functional-off">
          <span class="fa-li"><i class="fas fa-check"></i></span>
          Testes e Depuração entre Navegadores
        </li>
        <!-- <li>
          <span class="fa-li"><i class="fas fa-check"></i></span>
          Equipas Multifuncionais
        </li> -->
        <li>
          <span class="fa-li"><i class="fas fa-check"></i></span>
          Desenvolvimento Ágil e Scrum
        </li>
      </ul>
    </div>
  </section>
