    <!-- Experience-->
    <section class="resume-section" id="experience">
      <div class="resume-section-content">
        <h2 data-aos="fade-right" class="mb-5">Experience</h2>
        <div *ngFor="let experiencia of experiencias" data-aos="fade-left" class="d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="flex-grow-1">
            <h3 class="mb-0">{{ experiencia.cargo }}</h3>
            <div class="subheading mb-3">{{ experiencia.empresa }}</div>
            <p>{{ experiencia.descricao }}</p>
          </div>
          <div class="flex-shrink-0">
            <span class="text-primary">{{ experiencia.periodo }}</span>
          </div>
        </div>
      </div>
    </section>
